<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendaconfragments">

    <application
        android:allowBackup="true"
        android:icon="@drawable/book_diary_edit"
        android:label="Agenda"
        android:roundIcon="@drawable/book_diary_edit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.agendaconsqlite.MainActivity"
            android:label="Agenda"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>